<h1>CAST YOUR VOTE</h1>
<ul id='voting_directions'>
  <li>Enter your name and then vote.</li>
  <li>When you are finished voting click on the "Create Vote Card" button to submit your vote.</li>
  <br/>
  <li>To Edit your vote click on the "ALL VOTES" button in the menu bar</li>
  <li>Find your name and click edit, then change your vote. </li>
  <li>Be sure to click "Update Vote Card" when you are finished.</li>
</ul>
<div style="border:solid 1px #666; padding:15px;">
  <%= render 'form' %>
</div>
<br/>
<%= link_to 'Back', "/" %>
