<h2>&#10057; <%= link_to 'Enter a cookie to be voted on', new_entry_path %> &#10057;</h2>
<h2>&#10057; <%= link_to 'Vote on your favorite cookies', new_vote_card_path %> &#10057;</h2>
<h1 style="color: #396; font-size: 150%">Happy holidays &#10084; The Ludwig Family!</h1>
