<div style="text-align:center">
  <h2>&#10057; <%= link_to 'Enter a cookie to be voted on', new_entry_path %> &#10057;</h2>
  <h2>&#10057; <%= link_to 'Vote on your favorite cookies', new_vote_card_path %> &#10057;</h2>
  <h1 style="color: #396; font-size: 150%">Happy holidays &#10084; The Ludwig Family!</h1>
</div>

<div style="border:solid #555 1px; text-align:center">
  <h2>Winners 2016</h2>
  <p>Best in Show:
  <br/>
  Peanutbutter Chocolatechip Gluten-Free Cookie</p>
  <p>Most Delicious: Stefanie Swanson
  <br/>
  Meyer Lemon Vanilla-bean Cookie</p>
  <p>Most Decorative: Erin Yasgar
  <br/>
  Schroder & Charlie Brown Cookie</p>
  <p>Most Traditional: Charles
  <br/>
  Divinity</p>
</div>
