body {
  background-color: white;
  background: linear-gradient(
    45deg, 
    white 25%, #CD0000 25%,
    #CD0000 50%, white 50%,
    white 75%, #CD0000 75%,
    #CD0000);
  background-size:50px 50px;
}

p {
  color: #666;
}



li {
  font-family: Helvetica;
}
.field {
  color: #396;
  font-size: 200%;
  font-style: bold;
}

#entry_cookie{
  width: 80%;
  border: 1px solid #999999;
  padding: 5px; 
}

#entry_baker{
  width: 80%;
  border: 1px solid #999999;
  padding: 5px; 
}

#vote_card_name{
  width: 50%;
  border: 1px solid #999999;
  padding: 5px; 
}

input[type=submit] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
    border-radius: 15px;
}
input[type=submit]:hover {
    background-color: #528B8B; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
    border-radius: 15px;
}

#cookie_app_border {
  width:550px;
  padding: 15px 5px;
  margin: 0 auto;
  border-color:#6CF;
  border-style:double;
  border-width:6px;
  }

#cp_container {
  background-color:#cff;
  width:80%;
  padding: 10px 10px 10px 10px;
  margin: 0 auto;
  border-color:#6CF;
  border-style:solid;
  border-width:3px;
  }

#menu {
  background-color:#6cf;
  padding: 5px 5px 5px 5px;
  width:80%px;
  margin: 0 auto;
  }

#blurb_home {
  padding: 5px 5px 5px 5px;
  width:600px;
  margin: 0 auto;
  }

h1 {
  color: #396;
  font-size: 200%;
  margin:0px;
  }

h2 {
  color: #396;
  font-size: 150%;
  }

#vote {
  color: #396;
  font-size: 150%;
  }
  
#voter {
  color: #C30;
  font-size: 100%;
  font-style: bold;
  }

nav {
a:link {
  color:#fff;
  font-family:"Helvetica", sans serif;
  font-size:150%;
  text-decoration: none;
  }
a:visited {
  color:#ffc;
  }
a:hover {
  color:#545454; 
  background-color:#6cf;
  }
a:active {
  color:#fff;
  }
}


a:link {
  color:#545454;
  font-family:"Helvetica", sans serif;
  font-size: 100%;
  text-decoration: none;
  }
a:visited {
  color:#545454;
  }
a:hover {
  color:#40843a; 
  background-color:#6cf;
  }
a:active {
  color:#545454;
  }

#header_image
  a:hover {
    background-color:#C63;
    }

#column1 {
  width:300px;
  }

#row1 {
  background-color:#fff;
  }

td {
  padding: 2px 2px 2px 2px;
  }

table {
  border-spacing: 5px;
  }
th
{
text-align:left;
}

#columncrud {
  width:50px;
  }

#column1_entry {
  width:150px;
  }

#column2_entry {
  width:150px;
  }

#row1_entry {
  background-color:#fff;
  }

td {
  color: #555;
}

hr {
  color: #f09;
  background-color: #9E9E9E;
  height: 2px;
  }

#superlatives {
  width:80%px;
  font-size: 120%;
}

#voting_directions {
  margin-top:0px;
  margin-bottom:5px;
}

#vote_card_best_in_show_id {
  width: 80%;
  height: 80%;
  font-size: 100%;
}

#vote_card_most_delicious_id {
  width: 80%;
  height: 80%;
  font-size: 100%;
}

#vote_card_most_decorative_id {
  width: 80%;
  height: 80%;
  font-size: 100%;
}

#vote_card_most_traditional_id {
  width: 80%;
  height: 80%;
  font-size: 100%;
}

#column1 {
    width: 80%;
}
